'scopeName': 'source.terraform'
'name': 'Terraform'
'fileTypes': [
	'tf'
	'tfvars'
]

'patterns': [
	{
		'match': '(#.*)'
		'captures':
			'1':
				'name': 'comment'
	}
	{
		'match': '^(.+)\\s*=\\s*(["\'].+["\'])'
		'captures':
			'1':
				'name': 'keyword'
			'2':
				'name': 'string'
	}
	{
		'match': '^(\\w+)\\s+(["\'].+["\'])\\s*\\{\\s*\\}'
		'captures':
			'1':
				'name': 'keyword'
			'2':
				'name': 'string'
	}
	{
		'begin': '^(\\w+)\\s+(["\'].+["\'])'
		'end': '^}'
		'captures':
			'1':
				'name': 'keyword'
			'2':
				'name': 'string'
		'patterns': [
			{
				'match': '(\\w+)\\s*(["\'].+["\'])?\\s*[\\{\\[\\=]'
				'captures':
					'1':
						'name': 'constant.language'
					'2':
						'name': 'string'
			}
			{
				'match': '(["\']\\$\\{)(.+)(\\}["\'])'
				'captures':
					'1':
						'name': 'string'
					'2':
						'name': 'keyword'
					'3':
						'name': 'string'
			}
			{
				'match': '(["\'].+["\'])'
				'captures':
					'1':
						'name': 'string'
			}
		]
	}
	{
		'begin': '.*/\\*'
		'end': '.*\\*/'
		'captures':
			'0':
				'name': 'comment'
		'patterns': [
			{
				'match': '.+'
				'captures':
					'0':
						'name': 'comment'
			}
		]
	}
]
